.background{
    background-image: url(./images/futuristic-background-with-colorful-glowing-abstract-neon-lights.jpg);
    background-position: center;
    background-size: cover;

}

.heading{
    font-size: 64px;
}

.hero{
 
}